/*Footer y Header REGISTRADO*/
.navbar-nav{
    width: 100vh;
}

.navbar-nav img{
    width: 50px;
    height: 50px;
    margin-inline: 15%;
}

.navbar-nav a {
    font-family: 'Poppins', sans-serif; 
    font-size: 20px;
    color: #ffffff;
}

.navbar-nav li{
    color:#ffffff;
}

.navbar-nav i{
    padding: 10%;
}

.col-md-3 img{
    width: 10px;
}

.col-md-6 p {
    font-family: 'Poppins', sans-serif; 
    color:#ffffff;
    font-size: 15px;
    margin: auto;
}

.col-md-6 h5{
    font-family: 'Poppins', sans-serif;
    color:#ffffff;
    font-size: 20px;
    margin: auto;
}

.col-md-5 p{
    font-family: 'Poppins', sans-serif; 
    color:#ffffff;
    font-size: 15px;
    margin-right: 15%;
}

.col-md-5 h5{
    margin-right: auto;
    font-family: 'Poppins', sans-serif; 
    color:#ffffff;
    font-size: 20px;
    padding-inline: 180px;
}

.col-md-5 li{
    color:#ffffff;
}


.navbar-expand-sm .navbar-nav {
    padding-inline: 250px;
}

.btn-group{
    padding-inline: 10%;
    background-color: #9d0f09;
}

.boton-menu a{
    color: #9d0f09;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    font-family: 'Poppins';
    margin-right: auto;
    box-shadow: 0px 0px 7px #999999;
    border-color:#999999;
   
}







/*Footer y Header INVITADO*/








/*INGRESAR*/
body#ingresar {
    background:url("../Imagenes/fondo.jpg");
}

img#logoingresar{width: 600px;
	right:60px;
}

.col input#input1{
    border-radius: 20px;
    background-color: #FFFFFF;
    border-color:#FFFFFF;
    width: 160px;
}

div#header {
    margin-top: 30px;
}

a#btn-borde {
    background-color:  #FFFFFF;
    color:black;
    width: 250px;
    border-radius: 30px;
    height: 40px;
    border-color: #9D0f09;
}

.ingresar {
    width: 15px;
}

a#olvidaste , #texto1 {
    color: #FFFFFF;
}
a#olvidaste:hover , #texto1:hover {
    color: #989898;
    text-decoration: none;
}

p#invitado1{
    padding-top: 6px;
}

div#inputs {
    max-width: 170px;
}

div#flecha {
    max-width: 70px;
}

form#ingresar-inputs {
    margin-left: 58%;
}

a#olvidaste {
    margin-left: 29%;
}

div#invitado {
    margin-top: 120px;
    margin-left: 180px;
}

div#invitado2 {
    margin-top: 50px;
    margin-left: 120px;
}

div#non {
    max-width: 185px;
}








/*CONTRASEÑA INCORRECTA*/
/* Url de la imagen y alineacion de texto*/
body#contincorrecta{
    background:url("../imagenes/fondo.jpg");
    text-align: center;
}

/* Tamano y color de texto*/
p#contincorrecta2 {
font-size: 13px;
color: #9D0f09;
}

/* Tamano, color, tipo de letra, borde, radio, ancho y alto de texto*/
.login#contincorrecta1 {
  font-family: Poppins;
  background-color:  #FFFFFF;
  border: 1px solid #E1E1E1; 
  border-radius: 55px;
  padding: 17px;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  /* Tamano, color, tipo de letra, borde, radio, ancho y alto de texto*/
  #Nºdecedula , #exampleInputPassword1 {
   padding: 1rem;
   font-family: Poppins 10-pt;
   font-weight: bold;
   font-size: 12px;
   border:0;
   width: 350px;
   height: 0.5px;
   border-radius: 30px;
  
}

/* Tamano, color, tipo de letra, borde, radio, margen, ancho y alto del boton*/
.button1 {
    margin-top: 1rem;
    background-color:  #9d0f09;
    border: 1px solid #9d0f09; 
    font-family: Poppins;
    border-radius: 20px;
    color: #FFFFFF;
    width: 100px;
    height: 35px; 
}

/* Tamano, color, tipo de letra, borde, radio, margen, ancho y alto del boton*/
.button2 {
    margin-top: 1rem;
    background-color:  #ffffff;
    border: 1px solid #9d0f09; 
    font-family: Poppins;
    border-radius: 20px;
    color: #989898;
    width: 200px;
    height: 35px;
        
}

#links {
  text-decoration: none ; /* Decoracion del texto*/
  color:#989898; /* Color de texto*/
}








/*RECUPERAR*/
/*Agrega el fondo a todo el body*/
body#recuperar {
    background:url("../imagenes/fondo.jpg");
}

/*Centra la tarjeta*/
.cardtext-center#recuperar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items: center;
}

/*Modifica el tipo de letra, color y borde (redondeado y con sombra)*/
.card-body#recuperar{
    font-family: 'Poppins' ;
    background: #ffffff;
    border-radius: 20px;
    width: 500px;
    font-size: 18px;
    color: #989898;
    box-shadow: 0px 0px 7px #999999;
}

/*Cambia el color y centra el texto*/
.card-title#recuperar{
    color:#9d0f09 ;
    text-align: center;
 }

 h6#recuperar{
 	text-align: center;
 }

/*Modifica el color y el borde, y posiciona el input de correo*/
.col#recuperar input {
    border-radius: 20px;
    background-color:rgb(240, 240, 240);
    border-color:rgb(240, 240, 240);
    margin-top: 20px;
 }

/*Modifica, posiciona y da el color rojo al botón*/
.card-body#recuperar a{
	margin: 20px;
    border-radius: 20px;
    background-color: #9d0f09;
    margin-left: 41%;
 }



 /*RECUPERADA*/
 
 /*Agrega el fondo a todo el body*/
body#recuperada {
    background:url("../imagenes/fondo.jpg");
}

/*Centra la tarjeta*/
.cardtext-center#recuperada {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items: center;
}


/*Modifica el tipo de letra, color y borde (redondeado y con sombra)*/
.card-body#recuperada{
    font-family: 'Poppins' ;
    background: #ffffff;
    border-radius: 20px;
    width: 500px;
    font-size: 18px;
    color: #989898;
    box-shadow: 0px 0px 7px #999999;
}

/*Cambia el color y centra el texto*/
.card-title#recuperada{
    color:#9d0f09 ;
    text-align: center;
 }

 h6#recuperada{
 	text-align: center;
 }

/*Modifica, posiciona y da el color rojo al botón*/
.card-body#recuperada a{
	margin: 20px;
    border-radius: 20px;
    background-color: #9d0f09;
    margin-left: 42%;
 }








  /*CONTACTO REGISTRADO*/
  body#contacto {
    text-align: center; /*Alineacion del texto*/
    
   
}

/*Margen, tipo de letra y color*/
h2#contacto {
    margin-top: 1cm;
    font-family: Poppins;
    color: #9d0f09;
   
}



.col#contacto img{
    margin-top: 50px;/*Agregar color de letra*/
    width: 300px;  /*Ancho del objeto*/
    

}
    
/*Margen, tipo de letra, color de fondo, borde, radio del borde*/
.form-control#contacto{
    margin-top: 0.5cm;
    background-color:  #E1E1E1;
    border: 1px solid #FFFFFF; 
    font-family: Poppins;
    border-radius: 20px;
}
/*Margen, tipo de letra, color de fondo, borde, radio del borde, alineacion, ancho y alto*/
.form-control1#contacto{
    margin-top: 0.5cm;
    background-color:  #FFFFFF;
    border: 1px solid #E1E1E1; 
    font-family: Poppins;
    width: 350px;
    height: 100px;
    border-radius: 20px;
    align-content: top;
    
}
.login#contacto {
    margin-top: 1cm; /*Margen*/
    font-family: Poppins; /*tipo de letra*/
    background-color:  #FFFFFF; /* color de fondo*/
    border: 1px solid #E1E1E1; /* color de borde */
    border-radius: 55px; /* radio del borde*/
    padding: 17px; /*agregar espacio*/
    width: 400px;/*Ancho*/
    height: 350px;/*Alto*/
    position: absolute; /*Posicion*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
.button1#contacto {
    margin-top: 1rem; /*Margen*/
    background-color:  #9d0f09; /* color de fondo*/
    border: 1px solid #9d0f09; /* color de borde */
    font-family: Poppins; /*tipo de letra*/
    border-radius: 20px; /* radio del borde*/
    color: #FFFFFF; /*color de letra*/
    width: 100px; /*Ancho*/
    height: 35px; /*Alto*/
        
}
 footer#contacto {
    margin-top: 100px; /*Margen*/
}






/*HOME REGISTRADO*/
.titulo#Rhome {
    font-family: 'Poppins', sans-serif; /*Tipo de letra*/
    color: #9d0f09;
    margin-left: 550px;
    padding: 1.1rem;
    }
        
     
    .card-subtitle#Rhome h6 {
        color: #9d0f09;
    }
    
    
    .U#Rhome h3{
    font-family: 'Poppins', sans-serif; /*Tipo de letra*/
    color: #9d0f09;
    margin-left: 550px;
    padding: 1.1rem;
    }
      
    
      .subtitulo#Rhome {
    font-family: 'Poppins', sans-serif; /*Tipo de letra*/
    color: #9d0f09;
      }
    .card-text#Rhome{
    
        font-family: 'Poppins', sans-serif; /*Tipo de letra*/
    }
    
    .card-title#Rhome{
        font-family: 'Poppins', sans-serif; /*Tipo de letra*/
        
    }
    
    .container#Rhome {
    padding:2rem;

    }
    
    .col#Rhome h6{
        font-family: 'Poppins';
        font-size:16px;
        align-items: center;
        color: #989898;
        padding-top:1rem;
        margin-left:35px;
    }
    .col#Rhome p{
        font-family: 'Poppins';
        font-size: 12px;
        align-items: center;
        color: #989898;
        
    }
    .col#Rhome img{
        margin-left:25px;
    }
    
    .card#Rhome {
        border-radius: 35px; 
        border-color:#ffffff;
        width:350px;
    }
    .card-body#Rhome{
        box-shadow: 0px 0px 7px #999999;
        border-radius: 35px;
        width:350px;
        
    }
    .text-muted#Rhome {
        color:#9d0f09;
        font-family:'Poppins';
    }
    
    .col#Rhome a{
        margin-left:70px;
        color:#9d0f09;
    }





