/*Agrega el fondo a todo el body*/
body {
    background:url("../imagenes/fondo.jpg");
}

/*Centra la tarjeta*/
.cardtext-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items: center;
}


/*Modifica el tipo de letra, color y borde (redondeado y con sombra)*/
.card-body{
    font-family: 'Poppins' ;
    background: #ffffff;
    border-radius: 20px;
    width: 500px;
    font-size: 18px;
    color: #989898;
    box-shadow: 0px 0px 7px #999999;
}

/*Cambia el color y centra el texto*/
.card-title{
    color:#9d0f09 ;
    text-align: center;
 }

 h6{
 	text-align: center;
 }

/*Modifica, posiciona y da el color rojo al botón*/
.card-body a{
	margin: 20px;
    border-radius: 20px;
    background-color: #9d0f09;
    margin-left: 42%;
 }