.container{
    position: relative;
    display: inline-block;
    width: 300px;
}
.container img{
    width: 450px;
    margin-left: 150%;
}

.texto1 p {
    position: absolute;
    width: 100%;
    top: 300px;
    left: 200%;
    font-family: 'Poppins', sans-serif; /*Tipo de letra*/
    font-size: 12px;
    color: #9d0f09;
}

.texto2{
    position: absolute;
    width: 60%;
    top: 70%;
    left: 200%;
    font-family: 'Poppins', sans-serif; /*Tipo de letra*/
    font-size: 12px;
    color:#989898; 
}
 
}
.logo p {
    font-family: 'Poppins', sans-serif; /*Tipo de letra*/
    font-size: 20px; /*Tamaño de letra*/
    color: #9d0f09;
    margin-left:  450px;
    margin-top: 300px;
}
.navbar-nav{
    width: 100vh; /*Ancho del objeto*/
}

.navbar-nav img{
    width: 50px; /*Ancho del objeto*/
    height: 50px; /*Alto del objeto*/
    margin-inline: 15%; /*Margen del objeto*/
}
.navbar-nav a {
    font-family: 'Poppins', sans-serif; /*Tipo de letra*/
    font-size: 20px; /*Tamaño de letra*/
    color: #ffffff; /*Color de letra*/
}

.navbar-nav li{
    color:#ffffff ;/*Color de letra*/
}

.navbar-nav i{
    padding: 10%; /*se utiliza para crear espacio alrededor del contenido de un elemento*/
}

.col-md-3 img{
    width: 10px; /*Ancho del objeto*/
}

.col-md-6 p {
    font-family: 'Poppins', sans-serif; /*Tipo de letra*/
    color:#ffffff; /*Agregar color de letra*/
    font-size: 15px;  /*Tamaño de letra*/
    margin: auto; /*Margen del objeto*/
}

.col-md-6 h5{
    font-family: 'Poppins', sans-serif; /*Tipo de letra*/
    color:#ffffff; /*Agregar color de letra*/
    font-size: 20px; /*Tamaño de letra*/
    margin: auto; /*Margen del objeto*/
}

.col-md-5 p{
    font-family: 'Poppins', sans-serif; /*Tipo de letra*/
    color:#ffffff; /*Agregar color de letra*/
    font-size: 15px; /*Tamaño de letra*/
}

.col-md-5 h5{
    margin-right: auto;
    font-family: 'Poppins', sans-serif; /*Tipo de letra*/
    color:#ffffff; /*Agregar color de letra*/
    font-size: 20px; /*Tamaño de letra*/
    padding-inline: 180px; /*se utiliza para crear espacio alrededor del contenido de un elemento*/
}

.col-md-5 li{
    color:#ffffff; /*Agregar color de letra*/
}


.navbar-expand-sm .navbar-nav {
    padding-inline: 250px; /*se utiliza para crear espacio alrededor del contenido de un elemento*/
}

.btn-group{
    padding-inline: 10%; /*se utiliza para crear espacio alrededor del contenido de un elemento*/
    background-color: #9d0f09; /*Agregar color de fondo*/
}


