body {
    background:url("../fondo/fondo.jpg");
    text-align: center;
}
.login {
  background-color:  #FFFFFF;
  border: 1px solid #E1E1E1; 
  border-radius: 44px;
  padding: 17px;
  width: 400px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  .form-control {
   font-family: Poppins—35 pt;
   font-weight: bold;
   font-size: 12px;
   background-color: #989898;
   border:0;
   width: 350px;
   height: 25px;
   border-radius: 30px;
  
}

.button {
  background-color:  #FFFFFF;
  width: 240px;
  border-radius: 30px;
  height: 40px;
  border-color: #9D0f09; 
}

.button1 {
  font-family: Poppins-Regular—35 pt;
  background-color: #9D0f09;
  border-radius: 30px;
  width: 100px; 
  height: 35px;
  border-color: #9D0f09;
}

.loginlink {
 
}